* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* social media coding here */

.social {
  width: 70px;
  height: 30vh;
  position: fixed;
  top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.social .fa {
  font-size: 40px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.794);
}





ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  font-family: "Poppins", sans-serif;
  position: sticky;
  top: 0px;
  background-color: #016064;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 20vh;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}
.nav-links ul li {
  width: 170px;
}
.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: #fff;
  color: #3498db;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  background-color: #3498db;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 5px solid #efefef;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #3498db;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}
/* main div coding start here*/
/*========================================================================================================*/
.main_div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}
.main_div .main_body {
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_div .main_body .side_heading {
  width: 60%;
  height: 100%;
}
.main_div .main_body .expo_img {
  display: none;
  position: absolute;
}
.main_div .main_body .side_heading .main_h1 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.794);
  margin-top: 15vh;
}
.main_div .side_heading .main_p {
  /* margin-top: 5rem; */
  color: rgb(14, 15, 68);
  font-size: 20px;
  font-family: "Almarai", sans-serif;
}
.main_div .side_heading .main_contact {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.794);
  border-radius: 50px;
  border-color: rgba(255, 255, 255, 0.794);
  background: none;
  outline: none;

  margin-right: 30rem;
  margin-top: 2rem;
}
.main_div .main_body .main_img {
  width: 40%;
  height: 100%;
}
.main_div .main_body .main_img img {
  height: 70vh;
}

/*===================================================================================================*/

/* second SECTION / happy_client coding started*/

.help_section {
  width: 100%;
  height: 40vh;
  background-color: #ecf0f1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.help_section .help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 100%;
}
.help_section .help .fas {
  color: teal;
  font-size: 80px;
}
.help_section .help .help_h1 {
  color: teal;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
}
/*=================================================================================================*/

/* Our Service code start here */

.services {
  background: teal;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.services .our_services {
  width: 100%;
  height: 100%;

  text-align: center;
  margin-bottom: 20px;
}
.services .our_services .service_h1 {
  color: #ecf0f1;
  font-size: 10vh;
  font-family: "Quicksand", sans-serif;
  margin-top: 5vh;
}
.services .our_services .service_exclamation_mark {
  color: #ecf0f1;
  font-size: 10vh;
  margin-top: 5vh;
}
.services .our_services .service_p {
  color: #ecf0f1;
  font-size: 20px;
  margin-top: 2vh;
  font-family: inherit;
}
.services .our_services .service_p_director {
  color: white;
  font-size: 20px;
  margin-top: 8vh;
}
.services .our_services .service_p_director .service_span {
  color: #d2d7d3;
}

/* service_type coding start here */
.services .service_type {
  background-color: teal;
  width: 100%;
  height: 100%;
  padding: 50px 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.services .service_type .service_type_div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  margin-bottom: 5vh;
}
.services .service_type .service_type_div .service_img {
  height: 40vh;
  width: 50vh;
}
.services .service_type .service_type_div .service_h1 {
  color: rgba(255, 255, 255, 0.794);
  text-transform: uppercase;
  padding: 20px;
}
.services .service_type .service_type_div .service_type_p {
  color: #ecf0f1;
  padding: 30px 50px;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: left;
}
.services .service_type .service_type_div .service_read {
  background: none;
  margin-left: 20vh;
  font-size: 16px;
  outline: none;
  padding: 20px;
  border: none;

  color: rgba(255, 255, 255, 0.794);
  border-bottom: 1px solid rgb(24, 255, 236);
  border-top: 1px solid rgb(24, 255, 236);
  border-radius: 20px;
}

/* footer coding strat here */
/*====================================================================================*/

.footer {
  background-color: #016064;

  height: 100%;
  width: 100%;
  display: flex;
}
.footer .footer_div {
  margin-top: 10vh;
  margin-bottom: 3vh;
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer .footer_div .footer_heading {
  width: 80%;
  /* margin-right: 0px; */
  padding-bottom: 10px;

  position: absolute;
  top: 0vh;
  left: 0vh;
  text-align: center;
  /* border-bottom: 1px solid rgb(24, 255, 236); */
  border-radius: 20px;
}
.footer .footer_div .footer_heading .footer_h3 {
  color: rgba(255, 255, 255, 0.794);
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
}
.footer .footer_div .footer_list {
  width: 100%;

  position: absolute;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer .footer_div .footer_list .footer_span {
  padding: 20px;

  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.794);
}
.footer .footer_div .footer_list .footer_span a:hover {
  border-bottom: 1px solid rgb(24, 255, 236);
  border-radius: 20px;
}
.footer .footer_div .footer_list .footer_span a {
  color: rgba(255, 255, 255, 0.794);
  padding: 10px 20px;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: teal;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: teal;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #3183ac;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #3183ac;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: #3183ac;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #3a91bd;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: teal;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

@media (max-width: 920px) {

/* social media coding here */

.social
{

  top: 37vh;
  right: 0;

  width: 50px;
}
.social .fa
{
  font-size: 20px;
}

/* main div coding start here */

  .main_div {
    height: 80vh;
  }
  .main_div .main_body {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 30vh;
  }
  .main_div .main_body .side_heading {
    width: 100%;
    z-index: 1;
  }
  .main_div .main_body .expo_img {
    display: list-item;
    height: 50vh;
    top: 4vh;
    opacity: 0.2;
    margin-top: 8vh;
  }
  .main_div .main_body .side_heading .main_h1 {
    font-size: 30px;
    padding: 10px;
  }
  .main_div .side_heading .main_p {
    font-size: 15px;
    padding: 10px;
  }
  .main_div .side_heading .main_contact {
    font-size: 12px;
    margin-right: 10rem;
    margin-left: 12vh;
  }
  .main_div .main_body .main_img {
    display: none;
  }

  /* happy_ client start here */
  /*========================================================*/
  .help_section {
    flex-direction: column;
    height: 80vh;

    margin-bottom: 0vh;
  }
  .help_section .help {
    border-bottom: 1px solid gray;
    width: 80%;
  }
  .help_section .help .fas {
    font-size: 60px;
  }
  .help_section .help .help_h1 {
    font-size: larger;
  }

  /* ===============================================================*/

  /* Our Service code here */

  .services .our_services .service_h1 {
    font-size: 5vh;
  }
  .services .our_services .service_exclamation_mark {
    font-size: 7vh;
  }
  .services .our_services .service_p {
    font-size: 20px;
    padding: 10px;
  }

  /* service_type code start */
  .services .service_type {
    flex-direction: column;
  }
  .services .service_type .service_type_div {
    justify-content: space-evenly;
    border-top: 1px solid rgb(24, 247, 255);
    border-bottom: 1px solid rgb(24, 247, 255);
    margin: 10px !important;
    border-radius: 20px;
  }
  .services .service_type .service_type_div .service_img {
    height: 30vh;
    width: 40vh !important;
  }
  .services .service_type .service_type_div .service_h1 {
    font-size: 20px;
    padding: 5px !important;
  }
  .services .service_type .service_type_div .service_type_p {
    padding: 10px 30px;
    font-size: 20px;
  }

  /* footer coding start here */
  .footer {
    flex-direction: column;
  }
  .footer .footer_div {
    margin-top: 5vh;
    height: 40vh;
  }
  .footer .footer_div .footer_heading {
    margin-left: 0;
    padding-bottom: 10px;
    margin-left: 40px;
  }
  .footer .footer_div .footer_heading .footer_h3 {
    font-size: 25px;
  }
  .footer .footer_div .footer_list {
    align-items: center;
  }
  .footer .footer_div .footer_list .footer_span {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
}
